{% extends "base.html" %}
{% load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

{% block content %}

<div id="header" class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <h1>come see our  <a href="{% url 'recipes' %}">Recipes</a></h1>
        <h1>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</h1>
      </div>
      <div class="col-lg-6 col-md-6">
        <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}